@CHARSET "UTF-8";

.esup-agent-portlet-subsection-header {
	background-color: #A6A5D9;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: bottom;
	font-size: 12px;
}

.esup-agent-portlet-datatable-header {
	background-color: #A6A5D9;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: bottom;
	font-size: 12px;
}

.esup-agent-portlet-display-block {
	display: block;
	margin-bottom: 20px;
}

.esup-agent-portlet-display-list {
	display: table-cell;
	width: 250px;
	padding: 5px;
	background: #ffffff;
}

.esup-agent-portlet-display-detail {
	border-left: 1px solid #ffffff;
	display: table-cell;
	width: 600px;
	padding: 25px;
	background: #ffffff;
}

.esup-agent-warning {
	border: 2px solid #cc0000;
	padding: 10px;
	font-weight: bold;
	color: #cc0000;
}

esup-agent-entete {
	margin: 10px;
	padding-left: 28px;
	text-align: center;
	vertical-align: bottom;
	font-size: 14px;
}